.comment-container {
  background: rgba(247, 247, 251, 0.91);
  border-radius: 30px;
  min-height: 250px;
  width: 45%;
  display: block;
  margin: 0px auto;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.comment-form {
  padding: 40px;
  padding-bottom: 0px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.comment-header {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20pt;
  padding-top: 50px;
}

.comment-form-label {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  padding-left: 3px;
  padding-bottom: 5px;
}

.comment-form-input-title {
  width: 100%;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  color: grey;
  box-shadow: 2px 4px #d6ced9;
  font-size: 16pt;
}

.comment-form-input-body {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  height: 256px;
  background: #FFFFFF;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  color: grey;
  font-size: 12pt;
  resize: none;
  box-shadow: 2px 4px #d6ced9;
}

.comment-pic-upload {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  box-shadow: 2px 4px #d6ced9;
  border-radius: 10px;
}

.comment-check-label {
  padding-left: 6px;
  margin-bottom: 25px;
  font-size: 8pt;
  color: grey;
}

.comment-submit-btn {
  width: 120px;
  height: 32px;
  background: #7448BA;
  border-radius: 12px;
  display: block;
  margin: 0px auto;
  outline: none;
  border: none;
  color: white;
  font-size: 13px;
  transition-duration: 0.3s;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 40px;
  cursor: pointer;
}

.return-link {
  display: block;
  text-align: center;
  color: rgb(134, 134, 134);
  text-decoration: none;
  margin-top: 10px;
  transition-duration: 0.1s;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.comment-error-bubble {
  background-color: rgba(248, 62, 62, 0.575);
  width: 250px;
  height: 30px;
  display: block;
  margin: 0px auto;
  border-radius: 10px;
}

.comment-success-bubble {
  background-color: rgba(0, 255, 0, 0.575);
  width: 250px;
  height: 30px;
  display: block;
  margin: 0px auto;
  border-radius: 10px;
}

.comment-error-message {
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 12px;
  padding-top: 6px;
}